<div class="columns is-mobile">
    {% if include.image_1 %}
    <div class="column">
        <a href="{{include.image_1}}" target="_blank"><img src="{{include.image_1}}" alt="image" title="Cliquez pour agrandir"/></a>
    </div>
    {% endif %}
    {% if include.image_2 %}
    <div class="column">
        <a href="{{include.image_2}}" target="_blank"><img src="{{include.image_2}}" alt="image" title="Cliquez pour agrandir"/></a>
    </div>
    {% endif %}
    {% if include.image_3 %}
    <div class="column">
        <a href="{{include.image_3}}" target="_blank"><img src="{{include.image_3}}" alt="image" title="Cliquez pour agrandir"/></a>
    </div>
    {% endif %}
    {% if include.image_4 %}
    <div class="column">
        <a href="{{include.image_4}}" target="_blank"><img src="{{include.image_4}}" alt="image" title="Cliquez pour agrandir"/></a>
    </div>
    {% endif %}
</div>